<div>
  <div class="row">
    <div class="col-md-4 col-sm-0 col-xs-0 col-lg-4"></div>
    <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
      <button class="btn btn-primary btn-lg btn-block" ui-sref="root.adminpanel.domains.index">Edycja dziedzin</button>
      <button class="btn btn-primary btn-lg btn-block" ui-sref="root.adminpanel.tests.index">Edycja testów</button>
    </div>
  </div>
</div>
