<div class="col-md-3 col-sm-0 col-xs-0"></div>
<div class="col-md-6 col-sm-12 col-xs-12 gridcell">
  <div ng-if="success" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Operacja zakończona powodzeniem</strong>
  </div>
  <div ng-if="errors" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Operacja zakończona niepowodzeniem:</strong>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>
  <div class="form-bottom-margin" ng-repeat="(domainId, domain) in domains">
    <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadding">
      <input class="form-control fullwidth" type="text" ng-model="domain.name">
    </div>
    <div class="float-right col-md-4 col-xs-7 mobile-no-side-padding mobile-text-right">
      <button class="btn btn-primary operationbutton" ng-click="createOrUpdate(domainId)">Zapisz</button>
      <button class="btn btn-primary operationbutton" ng-if="domain.id" ng-click="delete(domainId)">Usuń</button>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-0 col-xs-0"></div>
