<div>
  <h2 class="text-center">Wybrana dziedzina: {{domain.name}}</h2>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 domainsgrid" ng-repeat="test in domain.tests">
      <div class="gridcell">
        <div class="row nomargin gridcellheader text-center">
          <span>{{test.name}}</span>
        </div>
        <div class="row gridcelldescription">
          <span><b>Opis:</b> {{test.description}}</span>
        </div>
        <div class="row text-center nomargin">
          <button class="btn btn-primary" ng-click="chooseTest(test.id)" >Rozpocznij test</button>
        </div>
      </div>
    </div>
  </div>
</div>
