<h2 class="text-center">Wybrany test: {{test.name}}</h2>
<div ng-if="start">
  <div class="col-md-4 col-sm-0 col-xs-0"></div>
  <div class="col-md-4 col-sm-12 col-xs-12 gridcell">
    <div class="form-group">
      <label for="initCount">Ilość powtórzeń każdego pytania:</label>
      <input class="form-control" id="initCount" type="number" min="1" ng-model="parameters.initCount">
    </div>
    <div class="form-group">
      <label for="errorCount">Ilość dodatkowych powtórzeń przy błędzie:</label>
      <input class="form-control" id="errorCount" type="number" min="0" ng-model="parameters.errorCount">
    </div>
    <div class="text-center">
      <button class="btn btn-primary questionbutton" ng-click="startTest()">Rozpocznij</button>
    </div>
  </div>
  <div class="col-md-4 col-sm-0 col-xs-0"></div>
</div>

<div ng-if="!start && !end">
  <div class="col-md-4 col-sm-0 col-xs-0"></div>
  <div class="col-md-4 col-sm-12 col-xs-12 gridcell">
    <div>
      <uib-progressbar class="progress-striped active" max="100" value="progress">{{progress | number: 2}}%</uib-progressbar>
      <span class="inline-block testcurrentresults">Prawidłowych odpowiedzi: {{correctAnswers}}</span>
      <span class="inline-block float-right testcurrentresults visible-md visible-sm visible-lg">Pozostało powtórzeń: {{question.repeat-1}}</span>
      <span class="block testcurrentresults">Nieprawidłowych odpowiedzi: {{incorrectAnswers}}</span>
      <span class="block testcurrentresults visible-xs">Pozostało powtórzeń: {{question.repeat-1}}</span>
    </div>
    <div ng-if="!answered">
      <span class="block questiontitle">Pytanie:</span>
      <span class="block questioncontent">{{question.name}}</span>
      <div class="text-center">
        <button class="btn btn-default questionbutton" ng-click="showAnswer()">Sprawdź</button>
      </div>
    </div>
    <div ng-if="answered">
      <span class="block questiontitle">Odpowiedź:</span>
      <span class="block questioncontent">{{question.answers[0].name}}</span>
      <div class="text-center">
        <button class="btn btn-success questionbutton" ng-click="correctAnswer()">Prawodłowo</button>
        <button class="btn btn-danger questionbutton" ng-click="incorrectAnswer()">Źle</button>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-0 col-xs-0"></div>
</div>

<div ng-if="end">
  <div class="col-md-4 col-sm-0 col-xs-0"></div>
  <div class="col-md-4 col-sm-12 col-xs-12 gridcell testresults">
    <span class="block">Test ukończony</span>
    <span class="block">Poprawnych odpowiedzi: {{(correctAnswers*100/(correctAnswers + incorrectAnswers)).toFixed(2)}}%</span>
    <span class="block">Niepoprawnych odpowiedzi: {{(incorrectAnswers*100/(correctAnswers + incorrectAnswers)).toFixed(2)}}%</span>
      <div class="text-center">
        <button class="btn btn-primary questionbutton" ng-click="repeatTest()">Powtórz</button>
        <button class="btn btn-primary questionbutton" ng-click="backToHome()">Strona główna</button>
      </div>
  </div>
  <div class="col-md-4 col-sm-0 col-xs-0"></div>
</div>
