<div ng-controller="AdminPanelFormTestsController">
  <div ng-if="success" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Operacja zakończona powodzeniem</strong>
  </div>
  <div ng-if="errors" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Operacja zakończona niepowodzeniem:</strong>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>
  <div class="form-bottom-margin">
    <div class="form-group">
      <label for="test-name">Nazwa testu:</label>
      <input class="form-control" type="text" ng-model="test.name" id="test-name">
    </div>
    <div class="form-group">
      <label for="test-description">Opis testu:</label>
      <textarea class="form-control" type="text" ng-model="test.description" id="test-description" rows=4></textarea>
    </div>
    <div class="form-group">
      <label for="test-domain">Dziedzina testu:</label>
      <select class="form-control" type="text" ng-model="test.domain_id" id="test-domain" ng-options="domain.name for domain in domains track by domain.id">
      </select>
    </div>
  </div>
</div>
