<div class="col-md-3 col-sm-0 col-xs-0"></div>
<div class="col-md-6 col-sm-12 col-xs-12 gridcell">
  <h3>Edycja testu: {{test.name}}</h3>
  <div ng-include="'/assets/adminpanel/tests/_form.html'"></div>
</div>
<div class="col-md-3 col-sm-0 col-xs-0"></div>
