/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

.domainsgrid {
  @media screen and (max-width: 767px) {
    margin-bottom: 3%;
  }

  @media screen and (min-width: 767px) {
    margin-bottom: 1%;
  }
}

.gridcell {
  padding: 3%;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.gridcellheader {
  @media screen and (max-width: 767px) {
    font-size: 22px;
  }

  @media screen and (min-width: 767px) {
    font-size: 25px;
  }
}

.gridcelldescription {
  @media screen and (max-width: 767px) {
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.5%;
  }

  @media screen and (min-width: 767px) {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1%;
    margin-top: 0.5%;
  }
}

.nomargin {
  margin: 0px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}

.testcurrentresults {
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }

  @media screen and (min-width: 767px) {
    font-size: 18.5px;
  }
}

.questiontitle {
  @media screen and (max-width: 767px) {
    font-size: 23px;
  }

  @media screen and (min-width: 767px) {
    font-size: 23px;
    margin-top: 1%;
  }
}

.questioncontent {
  @media screen and (max-width: 767px) {
    font-size: 18.5px;
    text-align: center;
    margin-bottom: 1.5%;
  }

  @media screen and (min-width: 767px) {
    font-size: 18.5px;
    text-align: center;
    margin-bottom: 2%;
  }
}

.questionbutton {
  @media screen and (max-width: 767px) {
    width: 49%;
  }

  @media screen and (min-width: 767px) {
    width: 30%;
  }
}

.testresults {
  @media screen and (max-width: 767px) {
    font-size: 19px;
  }

  @media screen and (min-width: 767px) {
    font-size: 23px;
  }
}

.fullwidth {
  width: 100% !important;
}

.nopadding {
  padding: 0;
}

.operationbutton {
  @media screen and (max-width: 767px) {
    width: 42%;
  }

  @media screen and (min-width: 767px) {
    width: 40%;
    margin-left: 1%;
  }
}

.form-group {
  @media screen and (max-width: 767px) {
    margin-bottom: 1.5%;
  }
}

.mobile-no-side-padding {
  @media screen and (max-width: 767px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.mobile-text-right {
  @media screen and (max-width: 767px) {
    text-align: right;
  }
}

.form-bottom-margin {
  overflow:hidden;  
  @media screen and (max-width: 767px) {
    margin-bottom: 3%;
  }

  @media screen and (min-width: 767px) {
    margin-bottom: -0.5%;
  }
}

.testaddbutton {
  @media screen and (max-width: 767px) {
    margin-bottom: 3%;
    width: 40%;
  }

  @media screen and (min-width: 767px) {
    margin-bottom: 1%;
    width: 20%;
  }
}
