<div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 text-center domainsgrid" ng-repeat="domain in domains">
      <button class="btn-lg btn btn-primary btn-block" ng-click="chooseDomain(domain.id)">{{domain.name}}</button>
    </div>
  </div>
</div>
