<!DOCTYPE html>
<html ng-app="learninghelper">
<head>
  <title>Testy</title>
   <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>
<body>
  <header>
    <h1 class="text-center">Wspomagacz nauki</h1>
  </header>
    <div class="container-fluid">
      <ui-view></ui-view>
    </div>
</body>
</html>
